.detailContainer {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.wrapperProduct {
  max-width: 500px;
  position: absolute;
  z-index: 15;
  text-align: start;
  top: 0;
  left: 0;
  font-size: 18px;
}
/* .titleProduct {
  color: white;
  display: flex;
  letter-spacing: 0.2rem;
  font-size: 20px;
  font-weight: 300;
  padding: 15px 15px 15px 15px;
  background-color: black;
}

.priceProduct {
  display: inline;
  letter-spacing: 0.1rem;
  padding: 15px 15px 15px 15px;
  background-color: black;
} */

.photoProduct {
  flex: 1.5;
  background-color: white;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.backButton {
  border: none;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 55px;
  display: flex;
  padding: 5px;
  background-color: black;
  border-bottom-left-radius: 5px;
}
.buttonLike {
  border: none;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 55px;
  display: flex;
  padding: 5px;
  background-color: black;
  border-bottom-left-radius: 5px;
}
.placeholder {
  width: 100%;
  height: 100%;
  background-color: gray;
}

.imgProduct {
  width: 100%;
}
.detailProductDesc {
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 100%;
  text-align: start;
  padding: 35px 15px;
  color: white;
}
.titleProduct {
  font-size: 20px;
  letter-spacing: 0.15rem;
  font-weight: 400;
  padding-left: 5px;
  padding-bottom: 25px;
  border-bottom: 2px solid white;
}
.priceProduct {
  font-size: 18px;
  padding: 25px 5px;
}
.description {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 18px;
  letter-spacing: 0.1rem;
  font-weight: 200;

  padding: 20px 5px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.moreInfo {
  margin-left: 25px;
  padding-bottom: 15px;
}

.actionMenu {
  width: 100%;
  display: flex;
  column-gap: 15px;
  padding: 25px;
}
.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  width: 50%;
  font-size: 18px;
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.35);
  color: rgb(255, 255, 255);
  border-radius: 3px;
}
.actionButton:hover {
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.25);
  color: rgb(255, 255, 255, 0.75);
  cursor: pointer;
}
