.navbar {
  background-color: black;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 100px;
  align-items: center;
}

.navbar ul {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.navbar ul li {
  list-style: none;
  font-size: 16px;
}
